*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


header {
  height: 100px;
  display: flex;
  align-items: center;
  padding-left: 15px;
  background-color: #2d3142;
  color: white;
  font-size: 28px;
}

footer {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2d3142;
  color: white;
  text-align: center;
  font-size: 12px;
}
body {
  font-size: 16px;
}

aside {
  background-color: #adacb5;
}

aside .title {
  font-size: 2rem;
}

aside ul li {
  font-size: 1.25rem;
  margin: .5rem;
  margin-left: 0;
}
 article  {
  background-color: #d8d5db;
}
h2 {
    font-size: 25px;
    margin: .9rem;
    margin-top: 0;
}
.textos {
    margin: .9rem;
    padding-left: 5px;
    padding-right: 50px;
    font-size: 16px;
}

.textos:last-of-type {
margin-bottom: 0;
}
