*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header {
  height: 100px;
  display: flex;
  align-items: center;
  padding-left: 15px;
  background-color: #2d3142;
  color: white;
  font-size: 28px;
}

footer {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2d3142;
  color: white;
  text-align: center;
  font-size: 12px;
}

body {
  font-size: 16px;
}

aside {
  background-color: #adacb5;
}

aside .title {
  font-size: 2rem;
}

aside ul li {
  font-size: 1.25rem;
  margin: .5rem;
  margin-left: 0;
}

.contenido {
  background-color: #d8d5db;
}

h2 {

}
